<a href="https://colab.research.google.com/github/Lucky920487/Lucky920487/blob/main/introduction_to_python_iitp_7_8_2014.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World")

Hello, World

In [ ]:
# This is a comment.
# Develop by lucky.
# to check if condition.
if 7 > 3:
  print("yes. It is correct")         # This is correct.
  if 7>3:
     print("yes. It is correct")


"""
this is a comment.
develop by lucky.
To check if condition.
"""

yes. It is correct
yes. It is correct

'\nthis is a comment.\ndevelop by lucky.\nTo check if condition.\n'

In [ ]:
"""
This is a comment.
Develop by lucky.
To check if condition
"""
if 7 > 3:
  print("yes. It is correct.")
  if 7>3:
    print("yes. It is correct.")

yes. It is correct.
yes. It is correct.

In [ ]:
# Variables.
x_2 = 8
y = 9.5
z = x_2+y
print(z)

17.5

In [ ]:
x = float(2)
y = float(9.6)
z = int("6")         # covert int to float
w = float (7)
t = z+w
print(t)
print(x)
print(y)
print(z)
print(w)

13.0
2.0
9.6
6
7.0

In [ ]:
# List
mylist = ["mango", "apple", "banana"]
mylist_1 = [5,6,7,8]
print(mylist)
print(mylist_1)

['mango', 'apple', 'banana']
[5, 6, 7, 8]

In [ ]:
# Function
#def keyboard is used to define function in the python.
def Lucky_function():
  print("Hello! Its my function")

Lucky_function()    # Calling a function

Hello! Its my function

In [ ]:
def my_function(arg):
  print(arg )

my_function("Lucky")

Lucky

In [ ]:
def m1_function(x):
  fun_value = x*x+5*x-34
  print(fun_value)

m1_function(100)

10466

In [ ]:
#Arbitary arguments
def my_function(*students):
  """

  Args:
    *students:
  """
  print("The student detail:" + students[1])

my_function("Lucky", "Rohan", "Nikita", )

The student detail:Rohan

In [ ]:
# keyboard-only arguments
def my_function(y):
  print(y)

my_function(3)

3

In [ ]:
# positional only arguments
def my_function(y,/):
  print(y)

my_function(3)

3

In [ ]:
# Factorial of given number using recursion
def factorial(n):
  if(n==1 or n==0):
    return 1
  else:
    value=(n*factorial(n-1))
    return(value)
factorial(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [ ]:
# List as an argument
def my_function(fruits):
  for x in fruits:
   print(x)

fruits = ("banana", "apple", "mango")
my_function(fruits)

banana
apple
mango

In [ ]:
# Fibonacci sequenceF(n)=F(n-1)+F(n-2)n>2,where F(0)=0 F(1)=1

In [ ]:
def fibonacci(n):
  if n <=1 :
   return n
  else:
    value = fibonacci(n-1)+fibonacci(n-2)
    return(value)
print(fibonacci(35))

9227465

In [ ]:
def fibonacci(n):
 if(n==0):
  return 0
 elif(n==1):
  return 1
 else:
  return fibonacci(n-1)+fibonacci(n-2)

fibonacci(35)

9227465

In [ ]:
# classes and objects
class student:       # class definition
 def __init__(self,name,age):
  self.Name = name
  self.age = age

Lucky= student ("Lucky",20)

print(Lucky.Name)
print(Lucky.age)

Lucky
20

In [ ]:
# classes and objects
class student:         # class definition
 Ins = "IIT PATNA"

 def __init__(self,name,age):
   self.name =  name
   self.age = age

 def fun(self):
    print("I am " , self.name)
    print("I am " , self.age)


# object Initiations
s1 = student("Lucky" , 19)
s2 = student("Nikita", 19)


# Accessing class attributes and methods through objects



print(s1.name)
print(s1.Ins)
print(s1.age)
s2.fun()

Lucky
IIT PATNA
19
I am  Nikita
I am  19

In [ ]:
# classes and objects
class bank :    # class definition
  def __init__(self,name,age,mobile,city): # Corrected constructor name
    self.name = name
    self.age = age
    self.mobile =  mobile
    self.city = city
# object Initiations
s1 = bank("Lucky",19,"79036*****", "patna")
s2 = bank("blank",20,"9934******", "agra")
s3 = bank("blank",20,"9835******", "delhi") # Assuming 'bank' is a defined class

 # Accessing class attributes and methods through objects

print(s1.name,s1.age, s1.mobile,s1.city)
print(s2.name,s2.age,s2.mobile,s2.city)
print(s3.name,s3.age,s3.mobile,s3.city)

Lucky 19 79036***** patna
blank 20 9934****** agra
blank 20 9835****** delhi

python inheritance
// It allows us to define a class that inherits all the methods and features from another class:
parent class: Base class
child class: Derived class which inherits fron another/parent class.

In [ ]:
# parent class
class student:       # class definition
 def __init__(self,name,age):
  self.Name = name
  self.age = age

Lucky= student ("Lucky",20)

print(Lucky.Name)
print(Lucky.age)

Lucky
20

In [ ]:
# child class or Inheritance
class person(student):
  #pass # keyword when you do not want to add other properties to the new class
  def __init__(self,name,age,place):
    self.name = name
    self.age = age
    self.place = place
  def fun1(self):

    print("I am" , self.place)


p1 = person("Lucky" , 22, "chapra")
p1.fun1()

I am chapra

In [ ]:
# How to create stack using class
# create class student with all the operation discussed...

class student:
  def __init__(self):
   self.student = []


  def push(self,name):
    self.student.append(name)


  def isEmpty(self):
    return len(self.student) == 0


  def pop(self):
    if self.isEmpty():
      return "No student in the stack"
      return self.stack[-1]


# create a different student groups.(create different stacks)
IT_Student = student()
IT_Student.push('Arnav')
IT_Student.push('Tanishq')

CSE_student = student()
CSE_student.push('Lucky')
CSE_student.push('Aditi')


print("IT students List", IT_Student.student)
print("CSE students List", CSE_student.student)

IT students List ['Arnav', 'Tanishq']
CSE students List ['Lucky', 'Aditi']

In [ ]:
# Arrays : How we create

array = [10, 5, 78, 85, 4, 76]
print(array[0])

10

In [ ]:
# Arrays : how we create

array =  [10,5, 8, 9, 76, 4]

# Algorithm for minimum value
min_value = array[0]
for j in array:
  if j < min_value:
    min_value = j

print(min_value)

4

In [ ]:
# queue : Using arrays or list

queue = []

# Enqueue
queue.append('AA')
queue.append('BB')
queue.append('CC')

print("queue:", queue)

queue: ['AA', 'BB', 'CC']

In [ ]:
# queue : using arrays or list


queue = []

#Enqueue
queue.append('AA')
queue.append('BB')
queue.append('CC')
queue.append('DD')

print("queue:", queue)

#Dequeue

name = queue.pop(1)
print("Dequeue",name)

# size
print("size:", len(queue))

# check Empty
isEmpty = not bool(queue)
print("isEmpty:", isEmpty)

queue: ['AA', 'BB', 'CC', 'DD']
Dequeue BB
size: 3
isEmpty: False

In [ ]:
# Write a python program for create  a child class Bus that will inherit all of the variables and methods of the vehicle clss.
class vehicle:
  def __init__(self,max_speed, mileage):
    self.max_speed = max_speed
    self.mileage = mileage

modelx= vehicle(200,20)

print(modelx.max_speed,modelx.mileage)

200 20

In [ ]:
# Write a python program in which you have a starting position a car at(0,0)
import math
pos=[0,0]
while True:
  s = input("Enter the direction and steps: ")

  if not s:
    break
# string ko split function ek list m convert kr deta h

  movement = s.split(" ")

  # Check if the input contains both direction and steps
  if len(movement) < 2:
    print("Invalid input. Please enter both direction and steps.")
    continue  # Skip to the next iteration of the loop

# [UP,s ]
  direction = movement[0]
  steps = int(movement[1])

  if direction == "UP":
      pos[1]+= steps
  elif direction == "DOWN":
       pos[1]-= steps

  elif direction == "LEFT":
        pos[0]-= steps

  elif direction == "Right":
        pos[0]+= steps

  else:
        pass

print(int(round(math.sqrt(pos[0]**2 + pos[1]**2))))

Enter the direction and steps: UP 10
Enter the direction and steps: LEFT -5
Enter the direction and steps:
11

In [ ]:
pow(2,3)

8

In [ ]:
# Define a function that can generate a dictionary where the keys are numbers between 1-20(both include) and the values are square of keys.

def square_dict():
  d = dict()
  for i in range(1,21):
    d[i] = i**2

  for (k,v) in d.items():
    print(v)

square_dict()

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [ ]:
# Stack Implementation
student = []

# push Adding element in the stack
student.append('Arnav')
student. append('Aditi')
student.append('Danish')

print("student:", student)

# peek: Top element in the stack
tople = student[-1]
print("peek:", tople)


# pop removing and returning elements

element = student.pop()
print("Return:", element)


# size: Number of element in the stack
print("size:", len(student))

# Is Empty
isEmpty = not bool(student)
print("IsEmpty:", isEmpty)

student: ['Arnav', 'Aditi', 'Danish']
peek: Danish
Return: Danish
size: 2
IsEmpty: False

In [ ]:
# Link list
class Node:
  def __init__(self,data):
    self.data=data
    self.next=None

# Traverasl and printing of link list from given head node.
  def traverseAndPrint(head):
    currentNode=head
    while currentNode:
       print(currentNode.data,end="->")
       currentNode=currentNode.next
  print("null")

# create a list or object

node1 = Node(15)
node2 = Node(10)
node3 = Node(5)
node4 = Node(20)

# creation of connection or link

node1.next = node2
node2.next=node3
node3.next = node4


# Exicuting function

node2.traverseAndPrint()

null
10->5->20->

In [ ]:
def foo(a, b=2, c= 3):
  return a+b*c
print(foo(1, c=4))
# a=1, b=2, c=4

9

In [ ]:
 # Date 3rd september

def min_value(head):
  minvalue = head.data
  currentNode = head.next
  while currentNode:
    if currentNode.data<minvalue:
      minvalue = currentNode.data
    currentNode = currentNode.next
  return minvalue
print("The minimum value in the list:", min_value(node1))

The minimum value in the list: 5

In [ ]:
# Def for deleting a node from the link list

def deleteNode(head, nodeetodelete):
  if head==nodeetodelete:
    return head.next
    currentNode=head
    while currentNode:
      if currentNode.next==nodeetodelete:
        currentNode.next=nodeetodelete.next
        breakcurrentNode=currentNode.next
        return head
# Delete a node
node1.traverseAndPrint()

15->10->5->20->

In [ ]:
node1 = deleteNode(node1,node1)   # Deletion
node1.traverseAndPrint()

10->5->20->

In [ ]:
# Insert a new node in the link list

newNode=Node(100)
def insertAnode(head,newnode,position):
  if position==1:
    newnode.next=head
  return newnode
  currentNode = head
  for i in range(position-2):
     currentNode = currentNode.next
     newnode.next=currentNode.next
     currentNode.next=newnode
     return head

In [ ]:
newnode=Node(1001)
node1 = insertAnode(node1,newnode,6)
node1.traverseAndPrint()

1001->

In [8]:
 # Doubly Linked list

# Node creation for doubly linked list

class Node:
  def __init__(self, next=None, prev=None, data=None):
    self.data=data    # for the data at the node
    self.next=next    # for the next node in DLL
    self.prev=prev    # for the previous node in DLL


# Different node creation as objects
node1= Node(data='A')
node2= Node(data='B')
node3= Node(data='c')
node4= Node(data='D')

 # Method to insert a node at the beginning of the list
def insert_at_beginning(self, data):
        new_node = Node(data)
        new_node.next = self.head
        if self.head is not None:
            self.head.prev = new_node
        self.head = new_node

# Doubly linked assignments
head=node1
node1.next=node2
node2.next=node3
node2.previous=node1

node3.next=node4
node3.previous=node2

node4.previous=node3

# Traverse the DLL and prints its elements

def traverse(head):
  current=head
  while current:
    print(current.data, end="<-->")   # print the current node data
    current=current.next   # move to the next node
  print("None")

# Driver code to traverse and print the DLL
traverse(head)

A<-->B<-->c<-->D<-->None

In [5]:
# Node class representing each element in the list
class Node:
    def __init__(self, data): # Added __ to init
        self.data = data
        self.prev = None
        self.next = None

# Doubly Linked List class
class DoublyLinkedList:
    def __init__(self): # Added __ to init
        self.head = None

    # Method to insert a node at the beginning of the list
    def insert_at_beginning(self, data):
        new_node = Node(data)
        new_node.next = self.head
        if self.head is not None:
            self.head.prev = new_node
        self.head = new_node

    # Method to print the list
    def print_list(self):
        current = self.head
        while current:
            print(current.data, end=" ")
            current = current.next
        print()

# Example usage
dll = DoublyLinkedList()
dll.insert_at_beginning(10)
dll.insert_at_beginning(20)
dll.insert_at_beginning(30)

print("Doubly Linked List:")
dll.print_list()

Doubly Linked List:
30 20 10

In [15]:
 # Insert a new node at the beginning oo DLL

def insert_begin(head, data):
    newnode=Node(data)   # creation of new node using class
    newnode.next=head
    if head:
      head.prev=newnode
    return newnode

#Drive
head=insert_begin(head=node1, data=2)
traverse(head)

None<-->A<-->B<-->c<-->D<-->None