<a href="https://colab.research.google.com/github/Lucky920487/Lucky920487/blob/main/Introduction_to_python_IITP_7_8_2014.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World")

Hello, World

In [ ]:
# This is a comment.
# Develop by lucky.
# to check if condition.
if 7 > 3:
  print("yes. It is correct")         # This is correct.
  if 7>3:
     print("yes. It is correct")


"""
this is a comment.
develop by lucky.
To check if condition.
"""

yes. It is correct
yes. It is correct

'\nthis is a comment.\ndevelop by lucky.\nTo check if condition.\n'

In [ ]:
"""
This is a comment.
Develop by lucky.
To check if condition
"""
if 7 > 3:
  print("yes. It is correct.")
  if 7>3:
    print("yes. It is correct.")

yes. It is correct.
yes. It is correct.

In [ ]:
# Variables.
x_2 = 8
y = 9.5
z = x_2+y
print(z)

17.5

In [ ]:
x = float(2)
y = float(9.6)
z = int("6")         # covert int to float
w = float (7)
t = z+w
print(t)
print(x)
print(y)
print(z)
print(w)

13.0
2.0
9.6
6
7.0

In [ ]:
# List
mylist = ["mango", "apple", "banana"]
mylist_1 = [5,6,7,8]
print(mylist)
print(mylist_1)

['mango', 'apple', 'banana']
[5, 6, 7, 8]

In [ ]:
# Function
#def keyboard is used to define function in the python.
def Lucky_function():
  print("Hello! Its my function")

Lucky_function()    # Calling a function

Hello! Its my function

In [13]:
def my_function(arg):
  print(arg )

my_function("Lucky")

Lucky

In [15]:
def m1_function(x):
  fun_value = x*x+5*x-34
  print(fun_value)

m1_function(100)

10466

In [19]:
#Arbitary arguments
def my_function(*students):
  """

  Args:
    *students:
  """
  print("The student detail:" + students[1])

my_function("Lucky", "Rohan", "Nikita", )

The student detail:Rohan

In [21]:
# keyboard-only arguments
def my_function(y):
  print(y)

my_function(3)

3

In [22]:
# positional only arguments
def my_function(y,/):
  print(y)

my_function(3)

3

In [25]:
# Factorial of given number using recursion
def factorial(n):
  if(n==1 or n==0):
    return 1
  else:
    value=(n*factorial(n-1))
    return(value)
factorial(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [27]:
# List as an argument
def my_function(fruits):
  for x in fruits:
   print(x)

fruits = ("banana", "apple", "mango")
my_function(fruits)

banana
apple
mango

In [ ]:
# Fibonacci sequenceF(n)=F(n-1)+F(n-2)n>2,where F(0)=0 F(1)=1

In [32]:
def fibonacci(n):
  if n <=1 :
   return n
  else:
    value = fibonacci(n-1)+fibonacci(n-2)
    return(value)
print(fibonacci(35))

9227465

In [36]:
def fibonacci(n):
 if(n==0):
  return 0
 elif(n==1):
  return 1
 else:
  return fibonacci(n-1)+fibonacci(n-2)

fibonacci(35)

9227465