<a href="https://colab.research.google.com/github/Lucky920487/Lucky920487/blob/main/Introduction_to_python_IITP_7_8_2014.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World")

Hello, World

In [ ]:
# This is a comment.
# Develop by lucky.
# to check if condition.
if 7 > 3:
  print("yes. It is correct")         # This is correct.
  if 7>3:
     print("yes. It is correct")


"""
this is a comment.
develop by lucky.
To check if condition.
"""

yes. It is correct
yes. It is correct

'\nthis is a comment.\ndevelop by lucky.\nTo check if condition.\n'

In [ ]:
"""
This is a comment.
Develop by lucky.
To check if condition
"""
if 7 > 3:
  print("yes. It is correct.")
  if 7>3:
    print("yes. It is correct.")

yes. It is correct.
yes. It is correct.

In [ ]:
# Variables.
x_2 = 8
y = 9.5
z = x_2+y
print(z)

17.5

In [ ]:
x = float(2)
y = float(9.6)
z = int("6")         # covert int to float
w = float (7)
t = z+w
print(t)
print(x)
print(y)
print(z)
print(w)

13.0
2.0
9.6
6
7.0

In [ ]:
# List
mylist = ["mango", "apple", "banana"]
mylist_1 = [5,6,7,8]
print(mylist)
print(mylist_1)

['mango', 'apple', 'banana']
[5, 6, 7, 8]

In [ ]:
# Function
#def keyboard is used to define function in the python.
def Lucky_function():
  print("Hello! Its my function")

Lucky_function()    # Calling a function

Hello! Its my function

In [ ]:
def my_function(arg):
  print(arg )

my_function("Lucky")

Lucky

In [ ]:
def m1_function(x):
  fun_value = x*x+5*x-34
  print(fun_value)

m1_function(100)

10466

In [ ]:
#Arbitary arguments
def my_function(*students):
  """

  Args:
    *students:
  """
  print("The student detail:" + students[1])

my_function("Lucky", "Rohan", "Nikita", )

The student detail:Rohan

In [ ]:
# keyboard-only arguments
def my_function(y):
  print(y)

my_function(3)

3

In [ ]:
# positional only arguments
def my_function(y,/):
  print(y)

my_function(3)

3

In [ ]:
# Factorial of given number using recursion
def factorial(n):
  if(n==1 or n==0):
    return 1
  else:
    value=(n*factorial(n-1))
    return(value)
factorial(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [ ]:
# List as an argument
def my_function(fruits):
  for x in fruits:
   print(x)

fruits = ("banana", "apple", "mango")
my_function(fruits)

banana
apple
mango

In [ ]:
# Fibonacci sequenceF(n)=F(n-1)+F(n-2)n>2,where F(0)=0 F(1)=1

In [ ]:
def fibonacci(n):
  if n <=1 :
   return n
  else:
    value = fibonacci(n-1)+fibonacci(n-2)
    return(value)
print(fibonacci(35))

9227465

In [ ]:
def fibonacci(n):
 if(n==0):
  return 0
 elif(n==1):
  return 1
 else:
  return fibonacci(n-1)+fibonacci(n-2)

fibonacci(35)

9227465

In [6]:
# classes and objects
class student:       # class definition
 def __init__(self,name,age):
  self.Name = name
  self.age = age

Lucky= student ("Lucky",20)

print(Lucky.Name)
print(Lucky.age)

Lucky
20

In [8]:
# classes and objects
class student:         # class definition
 Ins = "IIT PATNA"

 def __init__(self,name,age):
   self.name =  name
   self.age = age

 def fun(self):
    print("I am " , self.name)
    print("I am " , self.age)


# object Initiations
s1 = student("Lucky" , 19)
s2 = student("Nikita", 19)


# Accessing class attributes and methods through objects



print(s1.name)
print(s1.Ins)
print(s1.age)
s2.fun()

Lucky
IIT PATNA
19
I am  Nikita
I am  19

In [24]:
# classes and objects
class bank :    # class definition
  def __init__(self,name,age,mobile,city): # Corrected constructor name
    self.name = name
    self.age = age
    self.mobile =  mobile
    self.city = city
# object Initiations
s1 = bank("Lucky",19,"79036*****", "patna")
s2 = bank("blank",20,"9934******", "agra")
s3 = bank("blank",20,"9835******", "delhi") # Assuming 'bank' is a defined class

 # Accessing class attributes and methods through objects

print(s1.name,s1.age, s1.mobile,s1.city)
print(s2.name,s2.age,s2.mobile,s2.city)
print(s3.name,s3.age,s3.mobile,s3.city)

Lucky 19 79036***** patna
blank 20 9934****** agra
blank 20 9835****** delhi

python inheritance
// It allows us to define a class that inherits all the methods and features from another class:
parent class: Base class
child class: Derived class which inherits fron another/parent class.

In [ ]:
# parent class
class student:       # class definition
 def __init__(self,name,age):
  self.Name = name
  self.age = age

Lucky= student ("Lucky",20)

print(Lucky.Name)
print(Lucky.age)

Lucky
20

In [37]:
# child class or Inheritance
class person(student):
  #pass # keyword when you do not want to add other properties to the new class
  def __init__(self,name,age,place):
    self.name = name
    self.age = age
    self.place = place
  def fun1(self):

    print("I am" , self.place)


p1 = person("Lucky" , 22, "chapra")
p1.fun1()

I am chapra